<div id="main-container" class="container-fluid " style="padding:0;">
    <div class="row page-row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-0 col-xs-0 sidebar bg-dark">
            <ul class="nav nav-sidebar flex-column  text-white  mx-0">
                <li class="nav-item active">
                    <a (click)=onClickActor() class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Actor
                    </a>
                </li>
                    
                <li>
                    <a (click)=onClickMovie() class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2" ></use></svg>
                    Movie
                    </a>
                </li>
            </ul>
            <hr>
        </div>
        <div class="main col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <div class="row inner-first-row" >
                <button type="button" (click)="onOpenModal(null,'add')" *ngIf="showActors" class="btn btn-dark ">Add Actor</button>
                <button type="button" (click)="onOpenModal(null,'add')" *ngIf="showMovies" class="btn btn-dark ">Add Movie</button>
            
              </div>
            <div class="row">
                <div *ngFor="let dispCard of editable" class="card-row col-xl-4 col-md-6 col-sm-6 col-xs-8">
                    <div class="card m-b-30">
                        <div class="card-body row">
                            <div class="col-6 card-image">
                                <a ><img src="{{dispCard?.imageUrl}}" alt="" class="img img-fluid rounded-circle"></a>
                            </div>
                            <div class="col-6 card-title align-self-center mb-0">
                                <h5><a>{{dispCard?.name}}</a></h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="float-right btn-group btn-group-sm">
                                <a class="btn btn-primary tooltips" data-placement="top" (click)="onOpenModal(dispCard,'edit')" data-original-title="Edit" ><i class="fa fa-pencil"></i> </a>
                                <a class="btn btn-secondary tooltips" data-placement="top" (click)="onOpenModal(dispCard,'delete')" data-original-title="Delete" ><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>

<!-- Actor Modal -->
<div class="modal fade" id="ActorModal" tabindex="-1" role="dialog" aria-labelledby="ActorModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ActorModalLabel">Add Actor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="ActorForm" (ngSubmit)="onAddActor()">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" formControlName="name" name="name" class="form-control" id="name" placeholder="Name" Required>
              <div *ngIf="af['name'].invalid && (af['name'].dirty || af['name'].touched)"
                    class="alert alert-danger">
                <div *ngIf="af['name'].errors['required']">
                  This field is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input type="text" formControlName="age" name="age" class="form-control" id="age" placeholder="Age" Required>
              <div *ngIf="af['age'].invalid && (af['age'].dirty || af['age'].touched)"
                    class="alert alert-danger">
                <div *ngIf="af['age'].errors['required']">
                  This field is required
                </div>
                <div *ngIf="af['age'].errors['min'] || af['age'].errors['max']">
                  Age should be between 0 to 200.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="imageUrl">Image URL</label>
              <input type="text" formControlName="imageUrl" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" (change)="onChangeActorImageUrl($event)" Required>
              <div *ngIf="(af['imageUrl'].invalid) && (af['imageUrl'].dirty || af['imageUrl'].touched)"
                    class="alert alert-danger">
                  <div *ngIf="af['imageUrl'].errors['required'] || af['imageUrl'].errors['invalid']">
                    Please enter a valid image URL
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button [disabled]="ActorForm.invalid" id="add-actor-form" type="submit" class="btn btn-primary">Confirm</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
</div>

<!-- Movie Modal -->
<div class="modal fade" id="MovieModal" tabindex="-1" role="dialog" aria-labelledby="MovieModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="MovieModalLabel">Add Actor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="MovieForm" (ngSubmit)="onAddMovie()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" formControlName="name" class="form-control" id="name" placeholder="Name" Required>
                <div *ngIf="mf['name'].invalid && (mf['name'].dirty || mf['name'].touched)"
                    class="alert alert-danger">
                  <div *ngIf="mf['name'].errors['required']">
                    This field is required
                  </div>
                  <div *ngIf="mf['name'].errors['maxLength']">
                    Name should have a max length of 50
                  </div>
                </div> 
              </div>              
              <div class="form-group">
                <label for="releaseYear">Release Year</label>
                <input type="text" name="releaseYear" formControlName="releaseYear" class="form-control" id="releaseYear" placeholder="Release Year" Required>
                <div *ngIf="mf['releaseYear'].invalid && (mf['releaseYear'].dirty || mf['releaseYear'].touched)"
                    class="alert alert-danger">
                  <div *ngIf="mf['releaseYear'].errors['required']">
                    This field is required
                  </div>
                  <div *ngIf="mf['releaseYear'].errors['pattern']">
                    Release Year should only contain digits
                  </div>
                  <div *ngIf="mf['releaseYear'].errors['min']">
                    Release Year should be above 1800
                  </div>
                  <div *ngIf="mf['releaseYear'].errors['max']">
                    Release Year cannot be above 2022
                  </div>
                </div>
              </div>
              <div class="form-group">
                  <label for="rating">Rating</label>
                  <input type="text" name="rating" formControlName="rating" class="form-control" id="rating" placeholder="Rating" Required>
                  <div *ngIf="mf['rating'].invalid && (mf['rating'].dirty || mf['rating'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="mf['rating'].errors['required']">
                      This field is required
                    </div>
                    <div *ngIf="mf['rating'].errors['pattern']">
                      Rating should be a decimal between 0 to 10
                    </div>
                    <div *ngIf="mf['rating'].errors['min']">
                      Release Year should be above 0
                    </div>
                    <div *ngIf="mf['rating'].errors['max']">
                      Release Year cannot be above 10
                    </div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="director">Director</label>
                  <input type="text" name="director" formControlName="director" class="form-control" id="director" placeholder="Director" Required>
                  <div *ngIf="mf['director'].invalid && (mf['director'].dirty || mf['director'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="mf['director'].errors['required']">
                      This field is required
                    </div>
                    <div *ngIf="mf['director'].errors['maxLength']">
                      Name should have a max length of 30
                    </div>
                  </div> 
                </div>
              <div class="form-group">
                  <label for="watchPlatform">Watch Platform</label>
                  <select formControlName="watchPlatform" class="form-control" id="watchPlatform" Required>
                    <option value="" disabled selected>Choose the watch platform</option>
                    <option *ngFor="let platform of platforms" [ngValue]="platform">{{platform}}</option>
                  </select>
                  <div *ngIf="mf['watchPlatform'].invalid && (mf['watchPlatform'].dirty || mf['watchPlatform'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="mf['watchPlatform'].errors['required']">
                      Please choose a watch platform
                    </div>
                  </div> 
              </div>
              <div class="form-group">
                  <label for="description">Description</label>
                  <textarea formControlName="description" placeholder="Description" class="form-control"></textarea>
                  <div *ngIf="mf['description'].invalid && (mf['description'].dirty || mf['description'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="mf['description'].errors['required']">
                      This field is required
                    </div>
                  </div>
              </div>
              <div class="form-group" id="languageDropdown">
                  <label for="language">Language</label>
                  <select class="form-control" formControlName="language">
                    <option value="" disabled selected>Choose the language</option>
                    <option *ngFor="let language of languages" [ngValue]="language">{{language}}</option>
                  </select>
                  <div *ngIf="mf['language'].invalid && (mf['language'].dirty || mf['language'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="mf['language'].errors['required']">
                      Please select the language of the movie
                    </div>
                  </div>
              </div>
              <div class="form-group">
                <label for="genre">Genre</label>
                <div *ngFor="let genre of allGenres">
                  <input type="checkbox" formControlName="genre" name="genre" id="genre" 
                  [ngValue]="genre.label" [checked]="genre.selected" (change)="onChangeGenre($event)" >
                  {{genre.label}}
                </div>
                <div *ngIf="(mf['genre'].invalid) && (mf['genre'].dirty || mf['genre'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="mf['genre'].errors['required']">
                      Please select atleast one genre
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label for="imageUrl">Image Url</label>
                <input type="text" name="imageUrl" formControlName="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" (change)="onChangeMovieImageUrl($event)" Required>
                <div *ngIf="(mf['imageUrl'].invalid) && (mf['imageUrl'].dirty || mf['imageUrl'].touched)"
                    class="alert alert-danger">
                  <div *ngIf="mf['imageUrl'].errors['required'] || mf['imageUrl'].errors['invalid']">
                    Please enter a valid image URL
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="review">Review</label>
                <input type="text" name="review" formControlName="review" class="form-control" id="review" placeholder="Review" Required>
                <div *ngIf="(mf['review'].invalid) && (mf['review'].dirty || mf['review'].touched)"
                    class="alert alert-danger">
                  <div *ngIf="mf['review'].errors['required']">
                    Please enter Review
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Cast</label>
                <select multiple formControlName="cast" (change)=onChangeActor($event) class="form-control">
                  <option *ngFor="let actor of listOfActors" [ngValue]="actor">{{actor.name}}</option>
                </select>
                <div *ngIf="(movieCast.invalid) && (movieCast.dirty || movieCast.touched)"
                    class="alert alert-danger">
                  <div *ngIf="movieCast.errors['required'] || movieCast.errors['required']">
                    Please select atleast 1 actor
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                    <button [disabled]="MovieForm.invalid" id="add-movie-form" type="submit" class="btn btn-primary" >Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeMovieModal">Close</button>
              </div>          
          </form>
        </div>
        
      </div>
    </div>
</div>

  <!-- Delete Actor Modal-->
  <div class="modal fade" id="deleteActorModal" tabindex="-1" role="dialog" aria-labelledby="deleteActorModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteActorModalLabel">Delete Actor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <p > Are you sure you want to delete the Actor '{{af['name'].value}}?'? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onDeleteActor()" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Movie Modal-->
  <div class="modal fade" id="deleteMovieModal" tabindex="-1" role="dialog" aria-labelledby="deleteMovieModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteMovieModalLabel">Delete Movie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <p> Are you sure you want to delete the Movie '{{mf['name'].value}}?'? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onDeleteMovie()" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
